<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nego.nightmode" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.Settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nego.nightmode.Main" />
        </activity>
        <activity
            android:name=".ToggleSettings"
            android:label="@string/title_sections_toggle_preferences"
            android:parentActivityName=".Settings"
            android:theme="@style/AppTheme.Settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nego.nightmode.Settings" />
        </activity>

        <service
            android:name=".Functions.NMToggle"
            android:exported="false" >
        </service>

        <receiver android:name=".Receiver.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Receiver.StatusChanged" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_NIGHT_MODE_OFF" />
                <action android:name="android.intent.action.ACTION_NIGHT_MODE_ON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Receiver.AlarmReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ALARM" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Receiver.ShortcutReceiver"
            android:label="@string/app_name"
            android:theme="@style/MyDialog_theme" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.Settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nego.nightmode.Main" />
        </activity>

        <receiver android:name=".Widget.NightModeToggle" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/night_mode_toggle_info" />
        </receiver>

        <activity
            android:name=".Rules"
            android:label="@string/title_activity_rules"
            android:parentActivityName=".Settings"
            android:theme="@style/AppTheme.Settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nego.nightmode.Settings" />
        </activity>
        <activity
            android:name=".Receiver.NfcReceiver"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/MyDialog_theme"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <service
            android:name=".Functions.NLService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".Functions.AlarmService"
            android:exported="false" >
        </service>

        <receiver
            android:name=".Receiver.DeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
